{% extends "master.html" %}

{% if liste %}
    {% block title %}
        Call roll of {{ cursus_name }}
    {% endblock %}

    {% block content %}

        <form method="POST" class="post-form">
            {% csrf_token %}

            <div>
                <label for="dateAbsence">Date:</label>
                <input type="date" id="dateAbsence" name="dateAbsence" value="{{ date_now }}">
            </div>

            {% for student in liste %}
                <div class="row">
                    <div class="col-sm-2">
                        <input type="checkbox" id="{{ student.id }}" name="absent" value="{{student.id}}">
                    </div>

                    <div class="col-sm-2">
                        <a href="/lycee/students/{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</a>
                    </div>
                </div>
            {% endfor %}


            <input type="submit" value="Submit">

        </form>
    {% endblock %}
{% else %}
        <p>Nothing to be shown.</p>
{% endif %}