{% extends "master.html" %}

{% if student %}
    {% block title %}
        Student Details
    {% endblock %}

    {% block content %}

        {% if student.first_name != "" %}
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="reset" class="save btn">Reset</button>
                <button type="submit" class="save btn">Submit</button>
            </form>

        {% elif student.first_name == "" %}
            <form method="PUT" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="reset" class="save btn">Reset</button>
                <button type="submit" class="save btn">Submit</button>
            </form>
        {% endif %}


    {% endblock %}

{% else %}
    <p>Nothing to be shown.</p>
{% endif %}